* {
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  margin: 0;
  background: #f6f8fb;
  display: flex;
}

/* SIDEBAR */
.sidebar {
  width: 90px;
  background: #ffffff;
  height: 100vh;
  box-shadow: 2px 0 20px rgba(0,0,0,.05);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  font-size: 28px;
  margin: 20px 0;
}

.sidebar nav {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.sidebar a {
  padding: 10px;
  border-radius: 12px;
  cursor: pointer;
  font-size: 14px;
  text-align: center;
}

.sidebar a:hover,
.sidebar a.active {
  background: #e8f7b6;
}

/* MAIN */
.main {
  flex: 1;
  padding: 25px 40px;
}

.topbar span {
  color: #7ac70c;
}

/* INPUT */
.input-box {
  margin: 20px 0;
}

.input-box input,
.input-box button {
  padding: 8px;
  margin-right: 10px;
}

/* GRID */
.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 20px;
}

.card {
  background: white;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0 20px 40px rgba(0,0,0,.06);
}

.metric { grid-column: span 3; }
.chart { grid-column: span 6; }
.progress { grid-column: span 3; }

.ai {
  grid-column: span 12;
  background: #f0f9d8;
}

canvas {
  width: 100%;
  height: 220px;
}

progress {
  width: 100%;
  height: 12px;
  margin-bottom: 15px;
}





/* LOGO IMAGE STYLING */
.sidebar .logo {
  margin: 20px 0;
  width: 70px;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar .logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
